body, html {
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: Helvetica Neue, sans-serif;
    color: #51768e;
}

h3 {
	font-family: Helvetica Neue Light, Helvetica Neue, sans-serif;
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
}

#header {
    width: 100%;
    background-color: WhiteSmoke;
    margin: 0;
    padding: 40px 0 40px 0;
    text-align: center;
}

.headerText {
    font-size: 110%;
}

.headerLink {
    color: #337ab7;
    font-weight: bold;
    text-decoration: none;
}

.headerLink:hover {
    text-decoration: none;
}

/*.headerLink:visited {
    color: #337ab7;
    text-decoration: none;
}*/

.grayArea {
    width: 100%;
    background-color: WhiteSmoke;
    padding: 30px 0 30px 0;
    margin: 0;
}

hr {
    border-color: lightgray;
    border-width: 1px;
}

.droparea {
    width: 300px;
    height: 300px;
    border-style: dashed;
    border-width: 3px;
    border-color: gray;
    float: center;
    color: gray;
    line-height: 300px;
    text-align: center;
    margin: auto;
}

.droparea:hover {
    border-color: #337ab7;
    color: #337ab7;
}

.dropareaDisabled {
    border-color: lightgray;
}

.dropareaDisabled:hover {
    border-color: lightgray;
}

.dropareaDisabled img {
    opacity: 0.5;
}

.dropareaDisabled:hover img {
    opacity: 0.5;
}

.droppedImage {
    height: 90%;
    width: 90%;
    object-fit: contain;
    margin-bottom: 8px;
}

.imageHeaders {
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 105%;
    font-weight: bold;
}

.centeringDiv {
 text-align: center;
}

.centeredDiv {
    display: inline-block;
}

.bottomSpaced {
    margin-bottom: 30px;
}

.resultImage {
    height: auto;
    width: auto;
    max-width: 600px;
    max-height: 600px;
    border: white;
    border-width: 9px;
    border-style: solid;
}

.inline {
    display: inline-block;
    vertical-align: middle;
}



/* slider part */

.slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}